body {

    background: #de2427;
    background: -moz-linear-gradient(top, #de2427 0%, #cc2129 100%);
    background: -webkit-linear-gradient(top, #de2427 0%,#cc2129 100%);
    background: linear-gradient(to bottom, #de2427 0%,#cc2129 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de2427', endColorstr='#cc2129',GradientType=0 );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

html {
    overflow-y: scroll;
}

.clock {
    text-align: center;
    text-shadow: 1px 1px 3px #000000;
}

.clock-text {
    font-size: 2em;
    text-shadow: 1px 1px 3px #000000;
    font-weight: 100;
}

.signup {
    background-color: #2a0a0a;
    padding: 20px;
}

.signup h1 {
    text-shadow: 1px 1px 3px #000000;
}

.signup p {
    text-shadow: 1px 1px 3px #000000;
}

.form-control {
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 10px;
    color: #000;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.form-control:focus {
    box-shadow: none;
    background-color: #fce9e8;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.btn {
    border-radius: 0;
    background-color: #DA291C;
    color: #fff;
    border: none;
    margin: 10px;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.btn:hover {
    color: #DA291C;
    background-color: #fff;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.btn-lg {
    padding: 12px 40px;
}

.form-control::-webkit-input-placeholder {
    color: #2a0a0a;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: #2a0a0a;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: #2a0a0a;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: #2a0a0a;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: #2a0a0a;
}

/* Microsoft Edge */

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
    color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

/* IE 10+ */

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowpadding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-default {
    border-radius: 0;
    background-color: #000;
    border: none;
    color: #fff;
    font-weight: 800;
}

.navbar-default .navbar-nav li a {
    color: #fff;
    background-color: transparent;
    font-weight: bold;
    border-radius: 0;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

.navbar-default .navbar-nav li a:hover {
    color: #DA291C;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

.navbar-default .container {
    padding-left: 0;
    padding-right: 0;
}

.active {
    background-color: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #DA291C;
        -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #DA291C;
    background-color: transparent;
}

.navbar-nav li .dropdown-menu {
    background-color: #000;
    min-width: 0;
    padding: 2px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #DA291C;
}

::selection {
    background: #000; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #000; /* Gecko Browsers */
}

.tajmer {
    font-size: 5em;
}

.thumbnail {
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

/* Horizontal scroll fix */
.footer > .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* Time Countdown Styles */
.countDownHolder {
    display: inline-block;
    text-align: center;
    margin-right: 40px;
}

.countDownHolder span{
    display: block;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.countDownHolder p{
    margin-top: -10px;
    letter-spacing: 2px;
}

@media (max-width: 980px) {
    .countDownHolder{
        font-size: 0.8em;
        margin-right: 20px;
    }
}

@media (max-width: 600px) {
    .countDownHolder{
        font-size: 0.6em;
        margin-right: 20px;
    }
}

.videopadding {
    padding: 15px;
}

.linkovi {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    -webkit-transition: color 0.05s ease-in-out;
    -moz-transition: color 0.05s ease-in-out;
    -ms-transition: color 0.05s ease-in-out;
    -o-transition: color 0.05s ease-in-out;
    transition: color 0.05s ease-in-out;
}

.linkovi:hover {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    -webkit-transition: color 0.05s ease-in-out;
    -moz-transition: color 0.05s ease-in-out;
    -ms-transition: color 0.05s ease-in-out;
    -o-transition: color 0.05s ease-in-out;
    transition: color 0.05s ease-in-out;
}

.navbar-header {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navbar-default .navbar-toggle {
    border:2px solid #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #DA291C;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.nav li {
    padding-left: 15px;
}

.social-feed-container{
    max-width: 100%;
}

.social-feed-container .social-feed-element {
    margin-top: 0 !important;
    max-width: 31%;
    display: block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}

@media (max-width: 970px) {
    .social-feed-container .social-feed-element {
        margin-top: 0px !important;
        max-width: 48%;
        display: block;
        float: left;
        margin-right: 2%;
        margin-bottom: 20px;
    }
}

.header-mobile{
    display: none!important;
}

.sff-logo img{
    display: none;
}

@media (max-width: 600px) {
    .social-feed-container .social-feed-element {
        margin-top: 0 !important;
        max-width: 100%;
        display: block;
        float: none;
        margin-right: 0%;
        margin-bottom: 20px;
    }

    .header-mobile{
        display: block !important;
    }

    .header-desktop{
        display: none;
    }

    .atcb-link {
        font-size: 15px !important;
        padding: 6px 30px 6px 30px !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important;
    }


}

@media (max-width: 767px) {
    .atlantic-logo-1 {
        text-align: center;
    }

    .atlantic-logo-1 img {
        display: block;
        margin: 0 auto;
        padding-left: 100px;
    }
}

@media (max-width: 400px) {
    .atlantic-logo img{
        max-width: 85px;
    }

    .countDownHolder{
        font-size: 0.5em;
        margin-right: 10px;
    }

    .atlantic-logo-1 img {
        padding-left: 70px;
    }
}

@media (max-width: 350px) {
    .social-feed-container .social-feed-element .content img:first-child{
       display: none !important;
    }

    .atcb-link {
        font-size: 15px !important;
        padding: 6px 15px 6px 15px !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important;
    }
}

.small-displays .bx-wrapper{
    border: none !important;
    background: transparent !important;
}

.small-displays .col-xs-12{
    padding: 0 !important;
}

.small-displays .rowpadding{
    padding: 0 !important;
}

#share {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.atcb-item-link {
	background-color: #fff;
	color: #fff;
	width: 100%;
}